<!DOCTYPE html>
<html>
<head>
  <title>ScheduledTasksUI</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <header>
    <h1>Scheduled Tasks UI</h1>
    <nav>
      <%= link_to "Tâches", scheduled_tasks_ui.tasks_path %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; 2025 ScheduledTasksUi</p>
  </footer>
</body>
</html>
